.dark {
  background-color: rgb(32, 31, 31);
  color: #8e8e8e;
}

.dark_header {
}

.morning {
  background: linear-gradient(135deg, #cdf3fd, #1c89ff);
}

.morning_header {
}

.dark_aside {
  //   background: linear-gradient(135deg, #3400c4, #5747ff);
  background-color: rgb(32, 31, 31);
  color: #8e8e8e;
}

.morning_aside {
  //   background: linear-gradient(#fff9b1, #ff8800);
  background-color: #fff;
}
